/* Sustainability */
.sustain .sec_top {
	background-image: url('../images/sub/sectop_sustain.png');
}
/* ##### CONTENT ##### */
/* Contents 공통 */
.sec_content {
	padding: 40px 0;
	box-sizing: border-box;
}
.sec_content .title_box {
	padding: 0 0 55px;
}
.sec_content .title_box p {
	margin-bottom: 32px;
	font-size: 2.4rem;
	font-weight: 500;
}
.sec_content .title_box h3 {
	font-size: 40px;
	line-height: 1.3;
}
@media (max-width:1024px){
	.sec_content {
		padding: 20px 0;
	}
	.sec_content .title_box {
		padding: 0 0 32px;
	}
	.sec_content .title_box p {
		margin-bottom: 24px;
		font-size:1.6rem;
	}
	.sec_content .title_box h3 {
		font-size: 2.4rem;
	}
}
/* CONTENT: Sec_solution */
.solution_cont .title_box h3 {
	max-width: 630px;
}
.solution_cont .solution_list {
	display: flex;
	gap: 24px;
}
.solution_cont .solution_list li {
	position:relative;
	border-radius: 12px;
}
.solution_cont .solution_list p {
	position:absolute;
	left: 30px;
	bottom: 30px;
	z-index:5;
}
.solution_cont .solution_list p strong {
	display: block;
	font-size: 2.4rem;
	line-height: 1.3;
	font-weight: 600;
	color: #fff;
}
@media (max-width:1024px){
	.solution_cont {
		/* margin: 41px 0 60px; */
	}
	.solution_cont .solution_list {
		flex-direction: column;
		gap: 10px;
	}
	.solution_cont .solution_list p {
		left: 32px;
		bottom: 32px;
	}
	.solution_cont .solution_list p strong {
		display: inline-block;
		font-size: 2rem;
	}
	.solution_cont .solution_list li:first-child p strong {
		display: block;
	}
}
/* CONTENT: Sec_eco */
.eco_cont .title_box h3 {
	max-width: 740px;
}
.eco_cont .eco_flowchart {
	text-align:center;
}
.eco_cont .eco_flowchart img {
	width: auto;
	max-width: 100%;
}
/* CONTENT: Sec_zero */
.zero_cont {
	display: flex;
	gap: 20px;
}
.zero_cont img {
	width: auto;
	max-width: 100%;
}
.zero_cont .zero_col {
	flex: 1;
	padding:70px;
	border-radius: 12px;
	background:#F7F8FA;
}
.zero_cont .zero_col strong {
	display: block;
	margin-bottom:25px;
	font-size: 3.2rem;
	line-height: 1;
	font-weight:600;
}
.zero_cont .zero_col p {
	font-size:1.6rem;
	font-weight: 500;
	line-height: 1.5;
	color: #767676;
}
.zero_cont .zero_col .zero_brand {
	margin-top:95px;
	text-align:center;
}
.zero_cont .zero_col:nth-child(2) .zero_brand {
	margin-top: 150px;
}
@media (max-width:1200px) {
	.zero_cont .zero_col {
		padding:65px;
	}
	.zero_cont .zero_col strong {
		margin-bottom:20px;
		font-size:3rem;
	}
	.zero_cont .zero_col .zero_brand {
		margin-top:80px;
		margin-bottom: 20px;
	}
}
@media (max-width:1024px){
	.zero_cont {
		flex-direction: column;
		padding-top: 0;
	}
	.zero_cont .zero_col {
		padding: 40px 40px 40px 32px;
	}
	.zero_cont .zero_col strong {
		font-size: 24px;
	}
	.zero_cont .zero_col .zero_brand {
		margin-top: 40px;
	}
	.zero_cont .zero_col:nth-child(2) .zero_brand {
		margin-top: 40px;
	}
}
/* CONTENT: Sec_material */
#sec_material {
	margin-top:40px;
	padding:120px 0 80px;
	background: #F7F8FA;
}
@media (max-width:1024px){
	#sec_material {
		margin-top:0;
	}
}
.material_cont .material_title {
	padding-bottom:60px;
}
.material_cont .material_title h4 {
	margin-bottom:20px;
	font-size: 4rem;
	line-height: 1;
	font-weight:600;
}
.material_cont .material_title p {
	font-size: 2.4rem;
	line-height: 1;
	font-weight:500;
	color: #6F6F6F;
}
/* 바이오소재 아코디언 탭 */
.material_column .material_items:last-child .material_list {
	padding-bottom:0;
}
/* Tab - 바이오소재 */
.material_items .material_sort {
	position:relative;
	display: block;
	padding:70px 0;
	width:100%;
	border-top: 1px solid #DFDFDF;
}
.material_items .material_sort:after{
	content: '';
	position:absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
	width:24px;
	height:24px;
	background-image: url('../images/icon/ico_up.png');
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(180deg);
	transition: .3s;
}
.material_items .material_sort.active:after {
	transform: rotate(0);
}
.material_items .material_sort .sort_tit {
	display: block;
	margin-bottom:15px;
	font-size: 3.2rem;
	line-height: 1;
	font-weight:600;
}
.material_items .material_sort .sort_desc {
	font-size: 1.8rem;
	color: #999;
}
/* TabCont - 바이오소재 */
.material_items .material_list {
	display: none;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 80px;
}
.material_items .material_list.active {
	display: flex;
}
.material_items .material_list li {
	display: flex;
	width: calc(50% - 10px);
	border-radius: 12px;
	background: #fff;
}
.material_items .material_list li .item_thumb {
	flex: 1.7;
}
.material_items .material_list li .item_desc {
	position:relative;
	flex: 2;
	padding:40px;
}
.material_items .material_list li .item_desc .theme {
	display: block;
	margin-bottom:25px;
	font-size:14px;
	color: #D9D9D9;
}
.material_items .material_list li .item_desc h5 {
	margin: 0 0 15px;
	text-transform:uppercase;
	font-size:3.2rem;
	line-height: 1.3;
	font-weight:600;
}
.material_items .material_list li .item_desc p {
	max-width: 335px;
	width: 100%;
	font-size:1.6rem;
	line-height: 1.5;
	color: #6F6F6F;
}
.material_items .material_list li .btn_more {
	position:absolute;
	left: 40px;
	bottom: 40px;
	padding: 12px 20px;
	border-radius: 4px;
	background: #61C76B;
	transition: .3s;
}
.material_items .material_list li .btn_more:hover {
	background: #3CB802;
}
.material_items .material_list li .btn_more span {
	font-size:14px;
	color: #fff;
}
.material_items .material_list li .info_manager {
	position:absolute;
	left:40px;
	bottom: 40px;
}
.material_items .material_list li .info_manager p {
	position:relative;
	margin-bottom:3px;
	padding-left:27px;
	width:100%;
	color: #959595;
}
.material_items .material_list li .info_manager p:before {
	content: '';
	position:absolute;
	left:0;
	top:1px;
	width:20px;
	height:20px;
	background:url('../images/icon/ico_email.png') no-repeat;
	background-size: cover;
}
.material_items .material_list li .info_manager .btn_copy span {
	color: #3CB802;
	text-decoration: underline;
}
/* Item_Certify */
.material_items .material_list li.item_certify {
	position:relative;
	padding:40px;
	border-radius: 12px;
	background: #A9B0B9;
}
.material_items .material_list li.item_certify p {
	margin-top:40px;
	font-size:24px;
	font-weight:600;
	line-height: 1.5;
	color: #fff;
}
.material_items .material_list li.item_certify .certify_img {
	position:absolute;
	right:50px;
	bottom:50px;
	/* width:160px; */
	width:18%;
}
/* material_list 스타일2 (thumb,desc순서변경) */
.material_items:nth-of-type(2n) .material_list li .item_desc {
	order: 1;
}
@media (max-width: 1200px){
	.material_items .material_list li .item_thumb {
		flex: 1.8;
	}
	.material_items .material_list li .item_thumb img {
		height:100%;
	}
	.material_items .material_list li .item_desc {
		padding:35px 35px 105px;
	}
	.material_items .material_list li .item_desc h5 {
		margin:0 0 12px;
		font-size:2.9rem;
	}
	.material_items .material_list li .item_desc p {
		font-size:1.5rem;
	}
	.material_items .material_list li .item_desc .theme {
		margin-bottom:15px;
	}
	.material_items .material_list li .btn_more {
		left:35px;
		bottom:35px;
	}
	.material_items .material_list li.item_certify p {
		font-size:22px;
	}
}
@media (max-width: 1024px) {
	.material_cont {
		/* padding: 40px 0; */
		padding:0;
	}
	.material_cont .material_title {
		padding-bottom: 32px;
	}
	.material_cont .material_title h4 {
		margin-bottom: 24px;
		font-size: 24px;
	}
	.material_items .material_sort {
		padding: 32px 0;
	}
	.material_items .material_sort .sort_tit {
		font-size: 24px;
	}
	.material_items .material_sort .sort_desc {
		font-size: 16px;
	}
	.material_items .material_sort:after {
		width: 16px;
		height:16px;
	}
	.material_cont .material_title p {
		font-size: 16px;
	}
	.material_items .material_list {
		flex-direction: column;
	}
	.material_items .material_list li {
		flex-direction: column;
		width: 100%;
	}
	.material_items .material_list li .item_desc {
		padding: 32px;
	}
	.material_items .material_list li .item_desc,
	.material_items .material_list li .item_thumb {
		flex: 1;
	}
	.material_items .material_list li .item_desc h5 {
		font-size: 24px;
		line-height: 1.3;
	}
	.material_items .material_list li .item_desc p {
		width: 100%;
		font-size: 14px;
	}
	.material_items .material_list li .btn_more {
		position: initial;
		left: initial;
		top: initial;
		display: inline-block;
		margin-top: 24px;
		padding: 10px 20px;
	}
	.material_items:nth-of-type(2n) .material_list li .item_desc {
		order: 0;
	}
	.material_items .material_list li .info_manager {
		position: relative;
		left: 0;
		bottom: initial;
		margin-top: 29px;
	}
	.material_items .material_list li.item_certify {
		padding: 32px;
	}
	.material_items .material_list li.item_certify p {
		margin-top: 0;
		margin-bottom: 44px;
		font-size: 2rem;
	}
	.material_items .material_list li.item_certify .certify_img {
		position: relative;
		width: 100%;
		right: initial;
		bottom: initial;
		text-align: right;
	}
	.material_items .material_list li.item_certify .certify_img img {
		width: 114px;
		max-width: 100%;
	}
}
@media (max-width: 560px) {
	.material_items .material_sort .sort_desc {
		width: 90%;
	}
}
