html,
body,
head,
header,
section,
article,
footer,
nav,
ul,
ol,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
button,
figure {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  line-height: 1;
}
img {
  display: block;
  width: 100%;
}
